[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.task4
Exec=/usr/bin/ru.auroraos.task4
Name=Task 4
Name[ru]=Задание 4

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=task4
ExecDBus=/usr/bin/ru.auroraos.task4
